h1{
    text-align: center;
    font-size: 70px;
    margin-bottom: 10%;
}
p{
    text-align: center;
    font-size: 2rem;
}
div.container {
    margin: 200px auto;
    padding-left: 26%;

    button{
        margin:20px;
    }

    button.myClass {
        width: 100px;
        height: 50px;
        background-color: aqua;
        border: 2px solid blue;
        border-radius: 50%;
        transition: transform;
        transition-duration: 1s;

        &:hover {
            background-color: white;
            border: solid black 2px;
            transform: scale(0.7);

        }
    }
}